h1{
	font-family: "Raleway",sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
}

h2{
	text-transform: uppercase;
}

.instructions{
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
}

body{
	text-align: center;
}

p{
	font-family: "Droid Serif", Serif;
	line-height: 26px;
	font-size-adjust: 18px;
}


header{
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

body{
	margin:0;
}

h1{
	margin:0;
}

nav{
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

a{
	margin: 0 20px;
	color:#FFFFFF;
	bottom-border: 2px solid transparent;
}

a:hover{
	color:black;
	border: white;
}

main{
	width:850px;
	margin:35px auto;
}

img{
	margin: 40px 8px 0px 8px;
}

footer{
	text-transform: uppercase;
	padding: 20px;
	background-color:#0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: : .08em;
	font-weight: 500;
}

.copyright{
	float:left;
}
.message{
	float:right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
	color:#F15B31;
	font-weight:700;

}